<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>林浚承的基本介紹</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: #ffc0cb; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
	<nav class="navbar navbar-expand-md bg-danger navbar-dark">
	<a class="navbar-brand" href="#">MENU</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#lin">關於我</a></li>
			<li class="nav-item"><a class="nav-link" href="#Love">喜愛佳句</a></li>
			<li class="nav-item"><a class="nav-link" href="#photo">推薦照片</a></li>
		</ul>
	</div>
	</nav>

	<main class="container-fluid bg-secondary text-white text-center">

		<nav>
			<h1><a href="https://www.facebook.com/photo/?fbid=1041733796247419&set=a.105120456575429&locale=zh_TW
				" class="text-reset text-decoration-none text-white bg-warning" target="_blank" id="I">林浚承</a></h1>
			<h2><a href="https://www.pu.edu.tw/" class="text-reset text-decoration-none text-white bg-info" id="PU">靜宜大學</a>
			 / <a href="https://csim.pu.edu.tw/" class="text-reset text-decoration-none text-white bg-info" id="CSIM">資訊管理學系</a></h2>
			 <br>
		</nav>

		<img src="/static/IMG_6361" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"> 
		<br><br><br>

		<div class="row">
			<session id="lin" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">關於我</header>
				<h3><font color=#81D8D0>系級：</font>資訊管理學系二B</h3>
				<h3><font color=#81D8D0>學號:</font> 411146724</h3>
				<h3><a href="mailto:a0932511985@gmail.com" class="text-reset text-decoration-none text-black "><font color=#81D8D0>E-Mail:</font>a0932511985@gmail.com<br>( ⇈點擊寄送郵件✉ )</a></h3>

			</session>

			<article id="Love" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">喜愛佳句</header> 
				<h3> 我們一定行，絕對沒問題</h3>
			</article>
			
			<aside id="youtube" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-light">推薦影片</header>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe  src="https://www.youtube.com/embed/F9CrRG6j2SM
" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</aside>
		</div><br><br>

		<footer>
			Copyright ©  林浚承. All Rights Reserved.
		</footer>	

	</main>
</body>
</html>